*{ margin: 0; padding: 0;}
body{ font-size: 0.24rem; line-height: 0.48rem; color: #333333; text-align: center;}
.app{ width: auto; max-width: 7.5rem; height: 10.39rem; background: #f1f1f1; margin: 0 auto;}